<header class="site-header-tall" role="banner">
    <!-- <div class="header-wrapper"> -->
    <a class="site-title" href="{{ "/" | relative_url }}">{{ site.website_title | escape }}</a>
    <a class="github-link" href="https://github.com/{{ site.github_username }}">github.com/{{ site.github_username }}</a>
    <!-- </div> -->

    <!-- include some recent posts underneath -->

    <div class="post-wrapper">
        {% if site.posts.size > 0 %}
        <h2 class="post-list-heading">Recent:</h2>
        <ul class="post-list">
            {% for post in site.posts limit:3 %}
            <li class="post-element">
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

</header>
