<header class="site-header" role="banner">
    <a class="site-title" href="{{ "/" | relative_url }}">
      {{ site.website_title | escape }}
    </a>
    <a class="site-link" href="{{ "/posts" | relative_url }}">
      Posts
    </a>
    <a class="site-link" href="{{ "/projects" | relative_url }}">
      Projects
    </a>
    <a class="site-link" href="{{ "/about" | relative_url }}">
      About
    </a>
    <a class="github-link" href="https://github.com/{{ site.github_username }}">github.com/{{ site.github_username }}</a>
</header>
