
{% include head.html %}
{% include header_posts.html %}

<body>

<div class="home">

{% if page.title %}
<h1 class="page-title"> {{ page.title }}</h1>
{% endif %}
<div class="content-wrapper">
  {{ content }}
</div>

  <!-- this does not work -->
  <!--{% if site.posts.size > 0 %}-->
  <!--<div class="home-post-wrapper">-->
    <!--{% for post in site.posts limit:1 %}-->
      <!--<div class="home-first-post-title">-->
        <!--{{ post.title }}-->
      <!--</div>-->
      <!--<div class="home-first-post-wrapper">-->
        <!--{{ post.excerpt | strip_html | truncatewords:50 }}-->
      <!--</div>-->
    <!--{% endfor %}-->
  <!--</div>-->
  <!--{% endif %}-->

</div>

</body>
{% include footer.html %}
